<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="application.properties"/>
    <bean id="myAnimal"
            class="kurbanoov.homeworkspring12.Dog">
    <property name="name" value="${dog.name}"/>
    <property name="breed" value="${dog.breed}"/>
    <property name="colour" value="${dog.colour}"/>
    <property name="age" value="${dog.age}"/>
    </bean>

    <bean id="myPerson"
          class="kurbanoov.homeworkspring12.Person">
        <property name="animal" ref="myAnimal"/>
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
    </bean>

    <bean id="myPerson1"
          class="kurbanoov.homeworkspring12.Person">
        <property name="animal" ref="myAnimal1"/>
        <property name="name" value="${person1.name}"/>
        <property name="age" value="${person1.age}"/>
    </bean>
    <bean id="myAnimal1"
          class="kurbanoov.homeworkspring12.Horse">
        <property name="name" value="${horse.name}"/>
        <property name="age" value="${horse.age}"/>
        <property name="colour" value="${horse.colour}"/>
    </bean>



</beans>